.body {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #e5e5e5;
}
.head-frame {
  width: 100%;
  padding-right: 64px;
  padding-left: 100px;
  padding-top: 69px;
  padding-bottom: 96px;
  margin-bottom: 64px;
  background-color: #264653;
}
.purchese-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 44px;
  background-color: #e76f51;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
}
.fetured-text {
  margin-bottom: 120px;
}
.fetured-text h1 {
  font-size: 48px;
  color: #000000;
  font-weight: 600;
}
.grayscale-image {
  filter: grayscale(100%);
}
.text-orange {
  color: #e76f51;
}
.clients {
  margin-top: 148px;
}
.clients h1 {
  margin-bottom: 52px;
}
.happy-img {
  height: 149px;
  width: 149px;
}
.happy-text {
  font-weight: 600;
  font-size: 48px;
  color: #0d0925;
}
.faq {
  margin-top: 158px;
  margin-bottom: 112px;
}
.about {
  width: 100%;
  padding-bottom: 50px;
  margin-top: 100px;
  background-color: skyblue;
}
.about-text {
  font-weight: bold;
  font-size: 50px;
  color: #0d0925;
}
.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 5px;
  background-color: #e76f51;
}
.download-btn:hover {
  background-color: rgb(253, 31, 7);
  color: wheat;
}
.form-bg {
  width: 100%;
  background-color: skyblue;
  padding-top: 50px;
  padding-bottom: 50px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e76f51;
  border-radius: 5px;
  color: white;
}
